<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h4>Логин</h4></h1><input type="text" id="name" name="username" required minlength="8" maxlength="128" size="24" />
    <h4>Почта</h4></h1><input type="text" id="name" name="email" required minlength="8" maxlength="128" size="24" />
    <h4>Пароль</h4><input type="text" id="name" name="password1" required minlength="8" maxlength="128" size="24" />
    <h4>Повтор пароля</h4><input type="text" id="name" name="password2" required minlength="8" maxlength="128" size="24" />
    <br/><input type="submit" value="Зарегестрироваться">
</body>
</html>